{% extends 'lingfield/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="wrapper">
    <main data-barba="container" data-barba-namespace='branches'>

        <div class="container">
            <h1 class="text-center" style="font-size: 80px;">OUR BRANCHES</h1>
            <p class=" text-center" style="margin-top: -1%;">Find our nearest branch to you</p>
        </div>

        <div class="container ">
            <form class="col-lg-6 col-md-12 col-sm-12 offset-lg-3" action="#" method="get" >
                <input name="q" class="form-control mr-sm-2" type="text" placeholder="Enter your postcode ..." aria-label="Search" style="font-family: Garamond;">
            </form>
            
            <div class="text-center mt-2">
                <button class="btn btn-info">BRANCH SERVICES</button>
            </div>
        </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2315.6048742632825!2d-1.5115091841168802!3d54.52282948024245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487e9b47b18b8489%3A0xe1be8033a273fee1!2sLingfield%20Pharmacy!5e0!3m2!1sen!2sng!4v1602355399931!5m2!1sen!2sng" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>    </main>
        <button class="btn btn-lg btn-block btn-info text-right mt-n2">GET DIRECTIONS</button>
        
        <div class="container mt-5">
            <h2>BRANCHES</h2>
            <form class="d-inline w-100" action="#" method="get" >
                <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search" style="font-family: Garamond;">
            </form>
            <div class="container mt-3 rounded" style="background-color: lightgray;">
                <a href="{% url 'lingfield:about' %}" style="color: black;text-decoration: none;">
                   <div class="ml-3 mt-3">
                        <h6 >LINGFIELD PHARMACY</h6>
                        <div >
                            <address>Unit 34, Flexspace, Lingfield Way<br>Darlington<br>Durham<br>DLI 4QZ</address>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <i class="material-icons mr-n5">call</i>
                            </div>
                            <div class="col-7">
                                <p><a href="tel:01325790026" style="text-decoration: underline;color: black;">01325 790026</a></p>
                            </div>
                        </div>
                   </div>
                </a>
            </div>
        </div>

        
    </main>
</div>

{% endblock content %}