{% extends 'lingfield/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="wrapper">
    <main data-barba="container" data-barba-namespace='complaints'>
        <div class="container">
            <h1 class="col-12 text-center each-page-header" style="font-family: IM Fell DW Pica SC;">COMPLAINTS</h1>
        </div>

       <div class="container" style="margin-bottom: 50px;color: #379683;">
        <div class="col-12">
            <p class="abt-page" style="text-justify: inter-word;text-align: justify;">Lingfield Pharmacy has very strict and high standards that are upheld by our core, our team. We aim to provide the very best service and it is important to us to welcome comments so that we learn from people’s experiences, good or bad. The vast majority of people are very happy with the service they receive. However, there may be the rare occasion where something has not quite gone to plan and you may wish to bring this to our attention. If you are unhappy with any of the services or products we supply then please phone and discuss this with the pharmacist.</p>

            <p class="abt-page" style="text-justify: inter-word;text-align: justify;">We will acknowledge your complaint within 72 hours and aim to resolve it within 14 days of receipt. In certain circumstances, however, this may be exceeded but you will be informed of its progress throughout. In most cases, the issue is resolved in a matter of a few days.
            </p>

            <p class="abt-page" style="text-justify: inter-word;text-align: justify;">You can contact the superintendent pharmacist by phone or, email <a href="mailto:info@lingfieldpharmacy.co.uk" style="color:#212529;text-decoration: underline #212529;">info@lingfieldpharmacy.co.uk</a> or in writing by post.
            </p>
            
            <p class="abt-page" style="text-justify: inter-word;text-align: justify;">Complaints about NHS services are also dealt with by NHS Health Services Commissioner. NHS England PO Box 16738 Redditch B97 9PT Advice is also available from Citizens Advice Bureau (CAB) <a href="mailto:http://www.citizensadvice.org.uk/" style="color:#212529;text-decoration: underline #212529;">http://www.citizensadvice.org.uk/</a>
            </p>
        </div>
    </div> 
    </main>
</div>

{% endblock content %}