{% extends 'lingfield/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="wrapper">
    <main data-barba="container" data-barba-namespace='complaints'>
        <div class="container">
            <h1 class="col-12 text-center each-page-header" style="font-family: IM Fell DW Pica SC;">HEAD OFFICE</h1>
        </div>

        <div class="container">
            <p>Our hard working team provide a first class service to all our patients. Lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet.</p>
            <div >
                <p><a href="tel:01325790026" style="text-decoration: underline;color: black;">01325 790026</a></p>
            </div>
        </div> 
    </main>
</div>
{% endblock content %}